@model Model.Transactions

@{
  ViewBag.Title = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>



@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>Transactions</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.code)

    <div class="form-group">
      @Html.LabelFor(model => model.account_code, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.account_code, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.account_code, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.transaction_date, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.transaction_date, "{0:yy/MM/dd}", new { htmlAttributes = new { @class = "datepicker" } })
        @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.capture_date, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.capture_date,"{0:yy/MM/dd}", new { htmlAttributes = new { @class = "datepicker" } })
        @Html.ValidationMessageFor(model => model.capture_date, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts
{
  <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
  <script>
    $(document).ready(function () {

     var dateObj=new Date();

     var time  = dateObj.getHours()+":"+dateObj.getMinutes()+":"+dateObj.getSeconds(); 


      $(".datepicker").datepicker({
        dateFormat: "yy/mm/dd "+ time,
        changemonth: true,
        changeyear: true
      });
    });
  </script>
}

@*2021/11/01 10:53:59*@