@model IEnumerable<Model.Transactions>

@{
  ViewBag.Title = "Index";
}


<h2>Transactions</h2>
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Accounts", new { id = @ViewData["PersonId"] })">Account List</a></li>
    <li class="breadcrumb-item"><a id="createTrans" href="@Url.Action("CreateTransaction", "Transactions", new { id = @ViewData["AccountId"] })" >Create Transaction</a></li>
  </ol>
</nav>

<table class="table">
  <tr>
    <th>
      Account Code
    </th>
    <th>
      Transaction Date
    </th>
    <th>
      Capture Date
    </th>
    <th>
      Amount
    </th>
    <th>
      Description
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.account.account_number)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.transaction_date)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.capture_date)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.amount)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.description)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.code }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.code })
      </td>
    </tr>
  }

</table>

<script>
  $(document).ready(function () {
  
    var _myNames= @Html.Raw(Json.Encode(ViewData["isActive"]));
    if (_myNames == false) {
     $("#createTrans").attr('disabled', 'disabled');
     $("#createTrans").removeAttr('href');
    }
       
   });
</script>
