@model IEnumerable<Model.Person>

@{
  ViewBag.Title = "PersonDetails";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
  <h2>Personal Details</h2>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li> /
    <li class="breadcrumb-item" aria-current="page"> <a href="@Url.Action("CreatePerson", "Person")">Add Person</a></li>
  </ol>
</nav>

<table id="person" class="table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Id Number</th>
      <th></th>
    </tr>
  <thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.id_number)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.code }) |
          @Html.ActionLink("Details", "Index", "Accounts", new { id = item.code }, "") |
          @Html.ActionLink("Delete", "Delete", new { id = item.code })
        </td>
      </tr>
    }
  </tbody>
</table>


@section scripts {

  @Scripts.Render("~/bundles/dataTables")

  <script type="text/javascript">

    $(document).ready(function () {
      $('#person').DataTable();
    });

  </script>
}